:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 5.5;
  font-weight: 900;
  background-color: #fff;
}


body {
  margin: 0;
  padding: 50px 100px;
}

a{
  text-decoration: none;
  color: rgb(193, 174, 133);
}
.btn{
  font-size: 1.87rem;
  font-weight: 600;
  color: rgb(77, 126, 110);
}
.menu{
  font-size: 1.4rem;
  color: rgb(193, 164, 133);
}
.item{
  font-size: 1.87rem;
  font-weight: 600;
  color: rgb(77, 126, 110);
  margin-right: 30px;
}
@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
  
}
